/* homepage */
.main {
  background-image: url("dark-room.jpg");
  background-size: cover;
  color: #151A2D;
  height: 100vh;
}

.main .container {
  padding-top: 100px;
  max-width: 70vh;
}
.main h1 {
  text-align: center;
  padding-bottom: 40px;
}
.main p {
  font-size: 18px;
  text-align: center;
}




/* projects */
img {
  height: 100px;
  width: 100px;
}