/* homepage */
.main {
  background-image: url("mountain.jpg");
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.main .container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.description {
  max-width: 600px;
  margin: 150px auto;
}

.projects {
}
